@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-container {
  z-index: 0;
}
.dashboard-header {
  z-index: 300;
}
.overlay {
  z-index: 301;
}
.leftside {
  width: 40rem;
}
